.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loginBox {
  background-color: #dddddd;
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
}

.loginIcon {
  width: 85px;
  height: 85px;
  margin: 0.5%;
}

.LoginButton {
  margin: 0.5%;
}

.CredentialsInput {
  margin: 0.5%;
}

.TopBarBox {
  background-color: #dddddd;
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 35px;
}

.topBarIcon {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 2%;
}

.avatar {
  width: 30px;
  height: 30px;
  position: absolute;
  right: calc(8% + 120px);
  top: 2%;
}

.topBarTitle {
  position: absolute;
  left: 8%;
  top: 2%;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}

.topBarCredit {
  position: absolute;
  right: 3%;
  top: 2%;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}

.topBarCompanyName {
  position: absolute;
  left: 40%;
  top: 2%;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}

.WeatherFarmsFields {
  border: 1px solid gray;
  width: 25%;
  height: 500px;
  display: inline-block;
  position: absolute;
  left: 20%;
  top: 15%;
}

.WeatherObservation {
  border: 1px solid gray;
  width: 35%;
  height: 500px;
  display: inline-block;
  position: absolute;
  left: 45%;
  top: 15%;
}

.WeatherFormLabel {
  position: absolute;
  left: 4%;
}

.WeatherFormText {
  position: relative;
  left: 70px;
}

.systemNotificationText {
  color: rgb(200, 7, 7);
  position: relative;
  top: 26px;
  font-size: 1.1em;
}

.Loading {
  position: absolute;
  left: 42%;
  top: 6%;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}

.buttonWeather {
  position: absolute;
  left: 2%;
  top: calc(2% + 40px);
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}

.GetWeatherData {
  position: absolute;
  left: 20%;
  top: 11%;
}

.GetWeatherDataX {
  position: absolute;
  left: 79%;
  top: 11%;
}

.WeatherFormText {
  width: 210px;
}
